# Ignore datasets and results
.venv
data/
results/
bin/
etc/
audio/
node_modules/
viz/
models/
notebooks/
backuo/
fonts/
*.parquet
*.csv
*.npy
src/trend_query_with_key.py

# Python/IDE stuff
__pycache__/
*.pyc
*.pyo
.env
.venv/
.ipynb_checkpoints/
